* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 231, 210);
}

.row {
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgb(243, 221, 200);
}

section img {
    /* border-radius: 30px; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/* arruma as bordas em disposivos mobile */
@media (max-width: 992px) {
    section img {
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
    }
}


.btn1 {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.btn1:hover {
    background-color: white;
    color: black;
    border: 1px solid;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.navlink {
    color: gray;
    padding: 0.5em;
}

nav a:hover, nav a:focus {
    color: #333;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    text-decoration: none;
}

/* nav {
    background-color: rgb(253,231,210, 0.1);
    border-radius: 10px;
} */